* {
    font-family: 'Vazirmatn';
    text-align: right;

}

body {
    font-family: 'Vazirmatn', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f2937;
    color: #f9fafb;
    line-height: 1.6;
    padding: 16px;
    direction: rtl;
    text-align: right;
    width: 300px;
}


.container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    background-color: #3b82f6;
    color: #ffffff;
    padding: 10px 16px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2563eb;
}

button:focus {
    outline: 2px solid #60a5fa;
}

div {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #374151;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}